@import '../../assets/scss/variables.scss';

.display {
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;

  p {
    text-align: right;
  }

  &-main-line {
    color: #000;
    margin-bottom: 10px;
    font-size: 24px;
  }
  &-result-line {
    font-size: 19px;
    color: darken($dark-grey, 20%);
  }
}
